$violet-dark: #2d2a37;
$violet-medium-dark: #462878;
$violet-medium: #7f45e2;
$violet-light: #975dfa;

$background-light: linear-gradient(#807ece, #8e7ece);

$primary-color-font: linear-gradient(#000000, #ffffff);
$secondary-color-font: #ebebeb;
$tertiary-color-font: #6b6b6b;
